python-mrLib/mrLib/networking/DataPackage.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="Item">
		<xsd:complexType>
	    	<xsd:sequence>
	       		<xsd:element name="key" type="xsd:string"/>
	       		<xsd:element name="val" type="xsd:string"/>
	     	</xsd:sequence>
	     </xsd:complexType>
     </xsd:element>
     
     <xsd:element name="Data">
		<xsd:complexType>
	     	<xsd:sequence>
				<xsd:element ref="Item" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DataPackage">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="timestamp" type="xsd:float" default="0.0"/>
				<xsd:element name="type" type="xsd:string" default="None"/>
				<xsd:element name="host" type="xsd:string" default="None"/>
				<xsd:element ref="Data" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	

</xsd:schema>